#meta-panel {
    float: left;
}

#right-panel {
    float: right;
}

#meta-panel, #right-panel {
	width: 100px;
	height: 600px;
    border: 1px solid gray;
    display: inline-block;
    margin: 10px;
	background:rgba(224, 224, 224, 0.7);
}

#panels {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 900px;
    width: 100%;
}

#welcome-text {
    text-align: center;
}

.button:hover{
	background-color: #4CAF50;
    color: red;
}
